<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
    <table>
    <% cartItems.forEach( item => { %>
        <li>상품명: <%= item.name %> 수량:<%= item.dataValues.quantity %><br><img src="<%= item.imgPath %>"></li>
    <% }); %>
    </table>
</body>
</html>